<!doctype html>
<html>
    <head>
    	<title>:: EV3NT3X ::</title>
    </head>
    <body>
    	<center>
    		<br>
			<div id="page" style="width:95%;background:lightgray" align="center">
				<div id="header">
					<br>
					<center>
						<img src="{{ STATIC_URL }}/image/logo.png" alt="EV3NT3X" />
					</center>
				</div>	
				<div id="content">
					{% block content %}
					{% endblock content %}
					<br>
				</div>
				<div id="footer">
					<center><i>W2TD T4/2011 - copyleft <a href="http://masina.blog.br">@masina</a></i></center>
					<br>
				</div>
			</div>
		</center>
	</body>
</html>
