<!DOCTYPE HTML PUBLIC "-­‐//W3C//DTD HTML 4.01//EN">
<html>
<head><title>EV3NT3X</title></head>
<body>
<br>
<center><table border="0" width="600" height="350">
	<tr align="center" bgcolor="lightgreen"><td>
		<center><img src="{{ STATIC_URL }}logo.png" width="38" height="40" /></center>
		<center>
			<h1>Bem-vindo ao EV3NT3X!!</h1>
			<p>O evento mais sensacional depois do DevRio!</p>
			<p>Você não pode perder esta oportunidade!</p>
			<p><b>Abertura das inscrições em 21/08/2011.</b></p>
			<br>
			<p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a>.</p>
		</center>
	</td></tr>
</table></center>
</body>
</html>
